################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MoviesAppSolution/BackEnd/Infrastructure/MoviesApp.Infrastructure.MobileData/obj/Debug
